// COMPONENTS
@import "../components/header";
@import "../components/services";

// MEDIA QUERIES
@import "../media-queries/media-header";
@import "../media-queries/media-services";

// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES
@import "../scss/variables/variables";

// ANIMATIONS
@import "../scss/animations/hover";

// HTML
html {
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

// CONTAINER
.container {
  max-width: 120rem;
  margin: 0 auto;
}
