// COLORS
$white: #fff;
$black: #2c2b2b;
$special: #56106d;
$accent: #5a1467;
$gray: #c4c4c4;
$bg: #260d30;
// FONT SIZE
$base-font-size: 10px;

// MEDIA BREAKPOINTS

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1220px;
$breakpoint-lg: 1024px;
$breakpoint-md: 820px;
$breakpoint-smL: 428px;
$breakpoint-smM: 375px;
$breakpoint-smS: 320px;
