@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";
@import "../scss/btn/btn";

.header {
  background-image: url(../../img/header-bg.png);
  background-color: $bg;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4.7rem 0rem 12rem 0rem;
  &_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10.7rem;
    &-img {
      display: block;
    }
    &-link {
      text-decoration: none;
      color: $white;
      @include oswald-h1;
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    &-title {
      @include oswald-h0;
      color: $white;
      text-transform: uppercase;
      &--h2 {
        @include oswald-h1;
        color: $white;
        text-transform: uppercase;
        padding-top: 1rem;
      }
    }
    &-text {
      @include oswald-p;
      color: $white;
      text-transform: uppercase;
      padding: 3rem 0rem;
    }
    &-btn {
      @include btn-components;
    }
    &-social {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 7rem 0rem 0rem 6.6rem;
      position: relative;
      max-width: 25rem;
      &--links {
        text-decoration: none;
      }
    }
    &-img {
      position: absolute;
      content: "";
      display: block;
      max-width: 100%;
      bottom: -35rem;
      right: 24rem;
    }
  }
}
